<div class="sm:relative sm:mt-10">
  <div
    class="flex items-center justify-end mb-3 w-full sm:mb-0 sm:absolute -top-[24px] right-2"
  >
    <button
      class="flex items-center justify-end sm:pb-1 space-x-2 text-secondary sm:bg-white sm:rounded-t-[6px] sm:px-[10px] sm:pt-[5px]"
      (click)="card.showCardNumber = !card.showCardNumber"
    >
      <img src="/assets/show-eye.svg" alt="show" />
      <span class="text-xs font-bold"
        >{{ card.showCardNumber ? "Hide" : "Show" }} card number</span
      >
    </button>
  </div>

  <div
    [class.bg-gray-400]="card.isFreeze"
    [class.bg-secondary]="!card.isFreeze"
    class="p-7 text-white rounded-xl"
  >
    <div class="flex justify-end mb-7">
      <img src="/assets/white-logo.svg" alt="aspire" />
    </div>
    <div class="text-2xl font-bold mb-7">{{ card.name }}</div>
    <div class="mb-4 font-bold tracking-[4px]">
      {{
        !card.showCardNumber ? (card.cardNumber | cardMask) : card.cardNumber
      }}
    </div>
    <div class="text-xs flex items-center space-x-9 font-bold">
      <div>Thru: {{ card.expiryDate }}</div>
      <div class="flex items-center">
        CVV: <span class="text-xl"> &nbsp; * * *</span>
      </div>
    </div>
    <div class="flex justify-end">
      <img src="/assets/visa-card.svg" alt="visa card" />
    </div>
  </div>
</div>
