<div
  class="p-6"
  [ngClass]="{ 'border-b border-[#F0F0F0]': !last }"
  *ngFor="let item of transaction; let last = last"
>
  <div class="flex w-full space-x-3">
    <div>
      <div class="p-4 rounded-full" [style.background-color]="item.bgColor">
        <img [src]="item.icon" [alt]="item.label" width="24" />
      </div>
    </div>
    <div class="w-full">
      <div class="flex items-center justify-between">
        <div>
          <div class="text-[#222222] font-semibold">{{ item.label }}</div>
          <div class="text-xs text-[#AAAAAA]">
            {{ item.transaction_date }}
          </div>
        </div>
        <div class="flex items-center font-bold">
          <span class="mr-2" [class.text-secondary]="item.is_credit"
            >{{ item.is_credit ? "+ " : "- " }}{{ item.amount }}</span
          >
          <img src="/assets/next.svg" alt="next" />
        </div>
      </div>
      <div class="flex space-x-2 items-center my-2">
        <div class="rounded-full px-1.5 py-1 bg-primary">
          <img src="/assets/business-and-finance.svg" alt="business" />
        </div>
        <div class="text-xs text-primary-100 font-semibold">
          {{ item.type }}
        </div>
      </div>
    </div>
  </div>
</div>
