<div
  class="rounded-2xl px-7 py-5 grid grid-cols-5 gap-x-7 bg-[#EDF3FF] text-center mt-6 sm:rounded-3xl sm:rounded-b-none sm:-mt-5"
  *ngIf="card"
>
  <button
    class="flex flex-col items-center justify-center"
    (click)="card.isFreeze = !card.isFreeze"
  >
    <img src="assets/freeze-card.svg" alt="freeze card" />

    <span class="mt-1 text-xs">
      {{ !card.isFreeze ? "Freeze card" : "Unfreeze card" }}
    </span>
  </button>
  <div class="flex flex-col items-center justify-center">
    <img src="assets/spend-limit.svg" alt="spend limit" />
    <span class="text-xs mt-2"> Set spend limit </span>
  </div>
  <div class="flex flex-col items-center justify-center">
    <img src="assets/gpay.svg" alt="add to gpay" />

    <span class="text-xs mt-2">Add to GPay </span>
  </div>
  <div class="flex flex-col items-center justify-center">
    <img src="assets/replace-card.svg" alt="replace card" />

    <span class="text-xs mt-2"> Replace card</span>
  </div>
  <div class="flex flex-col items-center justify-center">
    <img src="assets/cancel-card.svg" alt="cancel card" />

    <span class="text-xs mt-2">Cancel card </span>
  </div>
</div>
