.layout-shadow {
  filter: drop-shadow(0px 2px 12px #00000014);
}

::ng-deep {
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
    > .mat-mdc-tab-header
    .mat-mdc-tab {
    flex-grow: 0 !important;
    letter-spacing: normal;
    --mdc-tab-indicator-active-indicator-color: #23cefd;
    --mat-tab-header-active-hover-indicator-color: #23cefd;
    --mat-tab-header-active-focus-indicator-color: #23cefd;
  }
  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    font-weight: 700;
    color: #222222 !important;
    @apply sm:text-white sm:px-0 #{!important};
    font-size: 14px !important;
  }
}

.top-shadow {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
}
